#root {
    --black-text: #000;
    --gray-text: #aaaaaa;
    --white-text: #fff;
    --btn-color: #faf4e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar-section {
    width: 350px;
    height: 100vh;
    position: relative;
}

.sidebar-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);

    .sidebar-title-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        .sidebar-title-wrapper {
            display: flex;
            flex-direction: column;
            padding-left: 3rem;
            h1 {
                font-size: clamp(30px, 5vw, 50px);
            }
            a {
                color: var(--black-text);
                text-decoration: none;
            }
            p {
                letter-spacing: 3.5px;
                color: var(--gray-text);
                font-weight: lighter;
            }
        }
    }

    .sidebar-info-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        .sidebar-info-wrapper {
            display: flex;
            flex-direction: column;
            padding: 0 2rem 0 3rem;
            h2 {
                font-size: clamp(20px, 4vw, 40px);
                padding-bottom: 2rem;
            }
        }
    }

    .sidebar-contact-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        grid-column: 1 / 2;
        grid-row: 3 / 4;

        .sidebar-contact-wrapper {
            display: flex;
            flex-direction: column;
            padding: 100px 0 100px 3rem;

            .tel-contact {
                padding-bottom: 0.5rem;
            }
            .mail-contact {
                padding-bottom: 3rem;
            }
            a {
                color: var(--black-text);
                padding: 1rem 2rem 1rem 2rem;
                background-color: var(--btn-color);
                text-decoration: none;
                font-size: clamp(16px, 5vw, 20px);
            }
        }
    }
}