#root {
    --black-text: #000;
    --gray-text: #aaaaaa;
    --white-text: #fff;
    --btn-color: #faf4e3;
    --btn-hover: #e5dfcf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-hero-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-left: auto;
    overflow: hidden;

    .hs-container {
        width: 100%;
        height: 100%;

        .hs-content-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
                color: var(--black-text);
                font-size: clamp(20px, 4vw, 30px);
                font-weight: 200;
                font-style: italic;
            }

            a:hover {
                text-decoration: underline;
            }

            p {
                font-size: clamp(10px, 4vw, 16px);
            }

            .hs-col1-wrapper {
                display: flex;
                flex-direction: column;

                .hs-img-1 {
                    width: 300px;
                    height: 600px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .hs-info-1 {
                    padding: 1rem 0 1rem 0.5rem;

                }
            }

            .hs-col2-wrapper {
                display: flex;
                flex-direction: column;

                .hs-img-2 {
                    width: 300px;
                    height: 600px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .hs-info-2 {
                    padding: 1rem 0 1rem 0.5rem;
                }
            }

            .hs-col3-wrapper {
                display: flex;
                flex-direction: column;

                .hs-img-3 {
                    width: 300px;
                    height: 600px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .hs-info-3 {
                    padding: 1rem 0 1rem 0.5rem;
                }
            }
        }

    }
}

@media screen and (max-width: 1440px) {
    .home-hero-section {
        width: 800px;
        height: 100%;
        position: relative;
        display: flex;
        margin: auto;

        .hs-container {
            width: 800px;
            height: 100%;

            .hs-content-wrapper {
                
                .hs-col1-wrapper {

                    .hs-img-1 {
                        width: 266.66px;
                        height: 600px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .hs-col2-wrapper {
                    
                    .hs-img-2 {
                        width: 266.66px;
                        height: 600px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .hs-col3-wrapper {

                    .hs-img-3 {
                        width: 266.66px;
                        height: 600px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .home-hero-section {
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;

        .hs-container {
            width: 700px;
            height: 100%;
            .hs-content-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                .hs-col1-wrapper {

                    .hs-img-1 {
                        width: 266.66px;
                        height: 500px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .hs-col2-wrapper {

                    .hs-img-2 {

                        width: 266.66px;
                        height: 500px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .hs-col3-wrapper {

                    .hs-img-3 {

                        width: 266.66px;
                        height: 500px;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}