#root {
    --btn-color: #aaaaaa;
    --lighter-text: #adadad;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.sidebar-section {
    width: 500px;
    height: 800px;
    position: relative;
    /* margin: auto; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .sidebar-container {
        display: grid;
        grid-template-columns: 1, 1fr;
        grid-template-rows: repeat(3, 250px);

        .sidebar-wrapper {

            .sidebar-title-col {
                display: flex;
                flex-direction: column;
                grid-column: 1 / 2;
                grid-row: 1 / 2;

                .sidebar-title-wrapper {
                    display: flex;
                    flex-direction: column;
                    padding: 0.5rem 0 100px 3rem;

                    h1 {
                        font-family: "Open Sans", sans-serif;
                        letter-spacing: 8px;
                        font-weight: 400;
                    }

                    a {
                        color: var(--black-text);
                        text-decoration: none;
                        font-size: clamp(30px, 4vw, 50px);
                    }

                    p {
                        padding-top: 0.5rem;
                        letter-spacing: 3.5px;
                        color: var(--gray-text);
                        font-weight: lighter;
                        font-size: clamp(16px, 3vw, 20px);
                    }
                }
            }

            .sidebar-info-col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                grid-column: 1 / 2;
                grid-row: 2 / 3;

                .sidebar-info-wrapper {
                    display: flex;
                    flex-direction: column;
                    padding: 0 2rem 10px 3rem;

                    h2 {
                        font-size: clamp(20px, 2.5vw, 25px);
                        padding-bottom: 2rem;
                        font-weight: lighter;
                    }

                    p {
                        font-family: "Open Sans", sans-serif;
                        font-weight: lighter;
                        font-size: clamp(5px, 2vw, 18px);
                    }
                }
            }

            .sidebar-contact-col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                grid-column: 1 / 2;
                grid-row: 3 / 4;

                .sidebar-contact-wrapper {
                    display: flex;
                    flex-direction: column;
                    padding: 50px 0 0 3rem;

                    .tel-contact {
                        padding-top: 1rem;
                        padding-bottom: 0.5rem;
                    }

                    p {
                        color: var(--lighter-text);
                        font-family: "Open Sans", sans-serif;
                        font-weight: lighter;
                        font-size: clamp(20px, 1.5vw, 25px);
                    }


                    a {
                        margin-top: 2rem;
                        color: var(--black-text);
                        padding: 1rem 2rem 1rem 2rem;
                        background-color: transparent;
                        border: 2px solid var(--btn-color);
                        text-decoration: none;
                        font-size: clamp(16px, 5vw, 20px);
                        text-transform: uppercase;
                        transition: all 0.4s ease;
                    }

                    a:hover {
                        border-color: var(--btn-color);
                        background-color: var(--btn-hover);
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .sidebar-section {
        width: 400;
        height: 100%;
        margin: auto 0;

        .sidebar-container {
            width: 400px;
            height: 700px;
    
            .sidebar-title-col {
                width: 400px;
                height: 150px;
            }
            .sidebar-info-col {
                width: 400px;
                height: 300px;
            }
            .sidebar-contact-col {
                width: 400px;
                height: 50px;
            }
        }
    }
    
}

@media screen and (max-width: 1024px) {
    .sidebar-section {
        width: 300px;
        height: 600px;
        position: relative;
        overflow: auto;
    }
}

@media screen and (max-width: 768px) {
    .sidebar-section {
        width: 200px;
        height: 500px;
        position: relative;
        /* overflow: auto; */
    }
}

@media screen and (max-width: 480px) {
    .sidebar-section {
        width: 500px;
        height: 800px;
        position: relative;
        /* overflow: auto; */
    }
}