#root {
    --btn-color: #aaaaaa;
    --lighter-text: #adadad;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.sidebar-section {
    width: 600px;
    height: 800px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .sidebar-container {
        display: grid;
        grid-template-columns: 1, 1fr;
        grid-template-rows: repeat(3, 250px);

        .sidebar-wrapper {
            padding-left: 2rem;

            .sidebar-title-col {
                display: flex;
                flex-direction: column;
                grid-column: 1 / 2;
                grid-row: 1 / 2;

                .sidebar-title-wrapper {
                    display: flex;
                    flex-direction: column;
                    padding: 0.5rem 0 45px 3rem;

                    h1 {
                        font-family: "Open Sans", sans-serif;
                        letter-spacing: 8px;
                        font-weight: 400;
                    }

                    a {
                        color: var(--black-text);
                        text-decoration: none;
                        font-size: clamp(30px, 3.5vw, 50px);
                    }

                    p {
                        padding-top: 0.5rem;
                        letter-spacing: 3.5px;
                        color: var(--gray-text);
                        font-weight: lighter;
                        font-size: clamp(16px, 3vw, 20px);
                    }
                }
            }

            .sidebar-info-col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                grid-column: 1 / 2;
                grid-row: 2 / 3;

                .sidebar-info-wrapper {
                    display: flex;
                    flex-direction: column;
                    padding: 0 2rem 0 3rem;

                    h2 {
                        font-size: clamp(20px, 2.5vw, 25px);
                        padding-bottom: 1.5rem;
                        font-weight: lighter;
                    }

                    p {
                        font-family: "Open Sans", sans-serif;
                        font-weight: lighter;
                        font-size: clamp(5px, 2vw, 18px);
                    }
                }
            }

            .sidebar-contact-col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                grid-column: 1 / 2;
                grid-row: 3 / 4;

                .sidebar-contact-wrapper {
                    display: flex;
                    flex-direction: column;
                    padding: 15px 0 0 3rem;

                    .tel-contact {
                        padding-top: 1rem;
                        padding-bottom: 0.5rem;
                    }

                    p {
                        color: var(--lighter-text);
                        font-family: "Open Sans", sans-serif;
                        font-weight: lighter;
                        font-size: clamp(16px, 1.5vw, 18px);
                    }


                    a {
                        margin-top: 1.5rem;
                        color: var(--black-text);
                        padding: 1rem 2rem 1rem 2rem;
                        background-color: transparent;
                        border: 2px solid var(--btn-color);
                        text-decoration: none;
                        font-size: clamp(16px, 5vw, 20px);
                        text-transform: uppercase;
                        transition: all 0.4s ease;
                    }

                    a:hover {
                        border-color: var(--btn-color);
                        background-color: var(--btn-hover);
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .sidebar-section {
        width: 700px;
        height: 100vh;

        .sidebar-container {
            width: 100%;
            height: 100%;
            
            .sidebar-wrapper {
                display: flex;
                flex-direction: column;

                .sidebar-title-wrapper {
                    margin-bottom: 1rem;
                }
                .sidebar-info-wrapper {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .sidebar-section {
        width: 700px;
        height: 100vh;

        .sidebar-container {
            width: 100%;
            height: 100%;

            .sidebar-wrapper {
                display: flex;
                flex-direction: column;

                .sidebar-title-col {
                    height: 200px;

                    .sidebar-title-wrapper {
                        margin-bottom: 2rem;
                    }
                }
                .sidebar-info-col {
                    height: 200px;

                    .sidebar-info-wrapper {
                        margin-bottom: 2rem;
                    }
                }
                .sidebar-contact-col {
                    height: 200px;

                    .sidebar-contact-wrapper {
                        margin-top: 1rem;
                    }
                }
            }
    
        }
    }
    
}

@media screen and (max-width: 1280px) {
    .sidebar-section {
        width: 700px;
        height: 100vh;

        .sidebar-container {
            width: 100%;
            height: 100%;

            .sidebar-wrapper {
                display: flex;

                .sidebar-title-col {
                    height: 180px;
                }
                .sidebar-info-col {
                    height: 180px;

                    .sidebar-info-wrapper {
                        margin-top: 1.5rem;
                    }
                }
                .sidebar-contact-col {
                    height: 180px;

                    .sidebar-contact-wrapper {
                        margin-top: 80px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .sidebar-section {
        width: 600px;
        height: 700px;
        overflow: auto;
        .sidebar-container {
            width: 100%;
            height: 100%;
            .sidebar-wrapper {
                .sidebar-title-col {
                    height: 200px;
                }
                .sidebar-info-col {
                    height: 200px;

                    .sidebar-info-wrapper {
                        margin-top: 120px;
                    }
                }
                .sidebar-contact-col {
                    height: 200px;

                    .sidebar-contact-wrapper {
                        margin-top: 300px;
                        padding-bottom: 2rem;
                        
                        .btn-contact {
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .sidebar-section {
        width: 200px;
        height: 500px;
        position: relative;
    }
}

@media screen and (max-width: 480px) {
    .sidebar-section {
        width: 500px;
        height: 800px;
        position: relative;
        /* overflow: auto; */
    }
}