* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section {
    width: 100%;
    z-index: 999;
    border: 1px solid red;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-switch {
            float: left;
            font-size: 28px;
            color: #4e4e4e;
            line-height: 0;
            cursor: pointer;
            opacity: 1;
            transition: all 0.4s;
        }
    }
}