* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    /* transition: margin-left 0.3s ease; */
    
    .home-content-wrapper {
        display: flex;
        flex-direction: row;
    }
}
/* 
.home-content.shifted {
    margin-left: 250px;
} */