* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.about-hero-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: relative;

    .as-container {
        width: 800px;
        height: 100%;
        .as-content-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem 0 3rem 0;
            img {
                width: 800px;
                height: 100%;
            }
            p {
                padding: 1.5rem 0 2rem 0;
            }
            h1 {
                padding-top: 1rem;
                font-style: italic;
            }
        }
    }
}