* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.port-hero-section {
    width: 100%;
    height: 800px;
    overflow: auto;

    .ph-container {
        width: 1000px;
        height: 100%;

        .ph-wrapper {
            padding-left: 2rem;
            .ph-img {

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}