* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-section {
    width: 100%;
    z-index: 999;

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-switch {
            float: left;
            padding: 1.5rem 0 1.5rem 2rem;
            color: #4e4e4e;
            line-height: 0;
            cursor: pointer;
            opacity: 1;
            transition: all 0.4s;

            i {
                font-size: 28px;
            }
        }

        .social-menu-header {
            float: right;
            padding-right: 60px;

            a {
                padding-left: 2rem;
                text-decoration: none;

                i {
                    color: black;
                    font-size: 20px;
                }
            }
        }
    }
}